<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Doccument verification</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Diploma">
                <span class="oi oi-bell" aria-hidden="true"></span> Diploma
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="verified_Diplomas">
                <span class="oi oi-book" aria-hidden="true"></span> Verified Diplomas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="check_diploma_validity">
                <span class="oi oi-bookmark" aria-hidden="true"></span> Check diploma validity
            </NavLink>
        </li>
    </ul>
</div>

@code {
    /*
             <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
         
         */
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
